ul.headerbar
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li.headerbar
{
float:left;
}
a.headerbar:link,a.headerbar:visited
{
display:block;

font-weight:bold;
color:#FFFFFF;
background-color:#00CC00;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
}
a.headerbar:hover,a.headerbar:active
{
background-color:#007A00;
}

a.sheaderbar:link,a.sheaderbar:visited
{
display:block;

font-weight:bold;
color:#FFFFFF;
background-color:#0066FF;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
}
a.sheaderbar:hover,a.sheaderbar:active
{
background-color:#0033FF;
}

a.mylink:link,a.mylink:visited
{
overflow:hidden;
white-space:nowrap;
}

table.title
{
    border-collapse: separate;
    width: 100%;
}

p.version
{
color:#3d3d5c;
text-align:center;
bottom:0px;
width:100%;
}

span.err
{
font-weight:bold;
color:#FFFF00;
background-color:#FF0000;
}